h1
{
    color:rgb(171, 176, 10);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color:rgba(11, 11, 218, 0.355);
}
